
.container
{
    position:relative;
     
}
#links{
    
    overflow: hidden;
    background-color: #8b8989;
  }
 #navlist {
    overflow: hidden;
    background-color: #0074D9;
}
       

#navlist a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.sticky-top{
  position: sticky;
}
  
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.container1 {
    position: absolute;
    right: 0px;
    width: auto;
    padding: 10px;
    
  }